<html>
    <head>
        <link rel="shortcut icon" href="https://yoapp.s3.amazonaws.com/yo/favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    
    <body>
        <div style="float: center">
            <img class="resize_fit_center" src="images/sshot.png"/>
        </div>
        
        Yo
        <br/>
        <h2>It's that simple.</h2>
        <h2>Use it to remind yourself to</h2>
        <h2>take out the laundry? check on the boiling broth?</h2>
        <h8> With YoAfter, You can use Yo as a reminder with these three utility accounts. <br/> 
            <br/> YOAFTERANHOUR (Yo's you 60 minutes later) 
            <br/> YOAFTER30MIN  (Yo's you 30 minutes later) 
            <br/> YOAFTER15MIN  (Yo's you 15 minutes later)
        </h8>
        <footer>
            

© Copyright 2014 | <a href="http://justyo.co"> YoApp </a> | <a href="http://www.gauravkamath.com"> Author </a> ( <a href="http://st0le.github.io"> GitHub </a>) | <a href="http://github.com/st0le/YoAfter"> Fork this project. (soon) </a>

        </footer>
                
    
    </body>

</html>